@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
}

main{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    width: 80%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.container{
    padding: 3%;
}

h1, p, span{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}

#accent{
    color: hsl(277, 64%, 61%);
}

p{
    margin-top: 10%;
}

.stat-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: 20%;
}

.stat{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

img{
    border-radius: 10px;
    filter: opacity(0.4) drop-shadow(0 0 0 purple)
}

@media only screen and (max-width: 640px){

    .card{
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
    }

    .container{
        padding: 5%;
    }

    .stat-container{
        margin-top: 15%;
    }
    

    .image-container{
        height: 80%;
        margin-bottom: 1px;
    }
    

    img{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 300px){
    h1{
        font-size: 100%;
    }

    p{
        font-size: 70%;
    }

    .stat span:first-child{ 
      font-size: 100%;
    }

    .stat span:last-child{ 
        font-size: 50%;
      }

}

