@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: hsl(233, 47%, 7%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    width: 60%;
    height: 50%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.card{
    height: 100%;
    padding: 2%;
}

h1, p, span{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}

h1, p{
    display: block;
}

p{
    font-size: 15px;
}

#accent{
    color: hsl(277, 64%, 61%);
}

.stat{
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.stat span{
    display: block;
}

img{
    width: 100%;
    border-radius: 10px;
    filter: opacity(0.4) drop-shadow(0 0 0 purple)
}


@media only screen and (max-width: 480px){

    .container{
        flex-direction: column-reverse;
        justify-content: center;
        height: 80%;
        width: 80%;
    }

    h1{
        font-size: 30px;
        
    }

    h1, p{
        text-align: center;
        padding: 1%;
    }

    p{
        color:hsla(0, 0%, 100%, 0.75);
    }

    .stat{
        display: block;
    }

    .stat span:first-child{
        font-size: 20px;
    }

    .stat span:last-child{
        font-size: 15px;
        color:hsla(0, 0%, 100%, 0.75);
    }
}